<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    app:layout_behavior="@string/appbar_scrolling_view_behavior"
    tools:showIn="@layout/content_main"
    tools:ignore="ContentDescription">

    <!-- content_main.xml を読み込む -->
    <include
        layout="@layout/content_main" />

    <LinearLayout
        android:layout_width="fill_parent"
        android:layout_height="wrap_content"
        android:orientation="vertical">
        <LinearLayout
            android:layout_width="fill_parent"
            android:layout_height="wrap_content" 
            android:orientation="horizontal">
             <TextView
                android:id="@+id/lblVersion"
                android:layout_width="250dp"
                android:layout_height="wrap_content"
                android:textSize="15dp"
                android:layout_weight="1"
                android:textColor="@android:color/white"/>
            <ImageButton
                android:layout_width="50dp"
                android:layout_height="wrap_content"
                android:layout_gravity="right"
                android:id="@+id/download_image"
                android:src="@drawable/download"  
                android:layout_weight="1"
                android:background="@drawable/buttonstyle"/>
            <ImageButton
                android:layout_width="50dp"
                android:layout_height="wrap_content"
                android:layout_gravity="right"
                android:id="@+id/edit_image"
                android:src="@drawable/edit"  
                android:layout_weight="1"
                android:background="@drawable/buttonstyle"/>
        </LinearLayout>
        <TextView
            android:text="@string/title2"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:id="@+id/lbltitle2"
            android:background="@android:color/black"    
            android:textSize="20dp"
            android:gravity="center_horizontal"
            android:textStyle="bold"           
            android:textColor="@android:color/white"/>
        <TextView
            android:text="@string/menu_title1"
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:id="@+id/lblmenu_title1"
            android:layout_marginTop="15dp"
            android:layout_marginLeft="10dp"
            android:layout_marginRight="10dp"
            android:layout_marginBottom="1dp"
            android:textSize="20dp"
            android:gravity="center_horizontal"
            android:backgroundTint="#b0e0e6"
            android:layout_centerHorizontal="true"
            android:background="@android:color/white"  
            android:textColor="@android:color/black"/>
          <LinearLayout
              android:layout_width="match_parent"
              android:layout_height="match_parent"
              android:orientation="horizontal">  
             <TextView
                android:text="@string/name1"
                android:layout_width="match_parent"
                android:layout_height="match_parent"
                android:id="@+id/lblname1"
                android:layout_marginLeft="10dp"   
                android:layout_marginBottom="1dp"
                android:textSize="20dp"
                android:gravity="center_horizontal"
                android:backgroundTint="@android:color/white"  
                android:layout_weight="1"
                android:background="@android:color/white"
                android:textColor="@android:color/black"/>
            <EditText
	            android:id="@+id/edittext1"
	            android:layout_width="220dp"
	            android:layout_height="match_parent"             
	            android:layout_marginRight="10dp"
                android:layout_marginBottom="1dp"
                android:inputType="text"
                android:hint="@string/namehint"
                android:backgroundTint="@android:color/white"  
	            android:textColor="@android:color/black"   
                android:background="@android:color/white"
	            android:textSize="18sp"/>     
          </LinearLayout>
          <LinearLayout
              android:layout_width="match_parent"
              android:layout_height="match_parent"
              android:orientation="horizontal">  
             <TextView
                android:text="@string/url1"
                android:layout_width="match_parent"
                android:layout_height="match_parent"
                android:id="@+id/lblurl1"
                android:layout_marginLeft="10dp"   
                android:layout_marginBottom="1dp"
                android:textSize="20dp"
                android:gravity="center_horizontal"
                android:layout_weight="1"
                android:backgroundTint="@android:color/white"  
                android:background="@android:color/white"
                android:textColor="@android:color/black"/>
            <EditText
	            android:id="@+id/urltext1"
	            android:layout_width="220dp"
	            android:layout_height="match_parent"             
	            android:layout_marginRight="10dp"
                android:layout_marginBottom="1dp"
	            android:inputType="textUri"
                android:hint="@string/urlhint"
                android:backgroundTint="@android:color/white"  
	            android:textColor="@android:color/black"   
                android:background="@android:color/white"
	            android:textSize="18sp"/>     
          </LinearLayout>
          <TextView
            android:text="@string/menu_title2"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:id="@+id/lblmenu_title2"
            android:layout_marginLeft="10dp"
            android:layout_marginRight="10dp"
            android:layout_marginBottom="1dp"
            android:background="@android:color/black"
            android:textSize="20dp"
            android:gravity="center_horizontal"
            android:backgroundTint="#b0e0e6"
            android:layout_centerHorizontal="true"
            android:textColor="@android:color/black"/>
        <LinearLayout
              android:layout_width="match_parent"
              android:layout_height="match_parent"
              android:orientation="horizontal">  
            <TextView
                android:text="@string/name2"
                android:layout_width="match_parent"
                android:layout_height="match_parent"
                android:id="@+id/lblname2"
                android:layout_marginLeft="10dp" 
                android:layout_marginBottom="1dp"
                android:textSize="20dp"
                android:gravity="center_horizontal"
                android:layout_weight="1"
                android:backgroundTint="@android:color/white"  
                android:background="@android:color/white"
                android:textColor="@android:color/black"/>
            <EditText
	            android:id="@+id/edittext2"
	            android:layout_width="220dp"
	            android:layout_height="match_parent"             
	            android:layout_marginRight="10dp"
                android:layout_marginBottom="1dp"
	            android:inputType="text"
                android:hint="@string/namehint"
                android:backgroundTint="@android:color/white"  
	            android:textColor="@android:color/black"      
                android:background="@android:color/white"
	            android:textSize="18sp"/>            
         </LinearLayout>
         <LinearLayout
              android:layout_width="match_parent"
              android:layout_height="match_parent"
              android:orientation="horizontal">  
            <TextView
                android:text="@string/url2"
                android:layout_width="match_parent"
                android:layout_height="match_parent"
                android:id="@+id/lblurl2"
                android:layout_marginLeft="10dp"  
                android:layout_marginBottom="1dp"
                android:textSize="20dp"
                android:gravity="center_horizontal"
                android:layout_weight="1"
                android:backgroundTint="@android:color/white"  
                android:background="@android:color/white"
                android:textColor="@android:color/black"/>
            <EditText
	            android:id="@+id/urltext2"
	            android:layout_width="220dp"
	            android:layout_height="match_parent"             
	            android:layout_marginRight="10dp"
                android:layout_marginBottom="1dp"
	            android:inputType="textUri"
                android:hint="@string/urlhint"
                android:backgroundTint="@android:color/white"  
	            android:textColor="@android:color/black"      
                android:background="@android:color/white"
	            android:textSize="18sp"/>     
          </LinearLayout>
          <TextView
            android:text="@string/menu_title3"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:id="@+id/lblmenu_title3"
            android:layout_marginLeft="10dp"
            android:layout_marginRight="10dp"
            android:layout_marginBottom="1dp"
            android:background="@android:color/black"
            android:textSize="20dp"
            android:gravity="center_horizontal"
            android:backgroundTint="#b0e0e6"
            android:layout_centerHorizontal="true"
            android:textColor="@android:color/black"/>
         <LinearLayout
              android:layout_width="match_parent"
              android:layout_height="match_parent"
              android:orientation="horizontal">  
            <TextView
                android:text="@string/name3"
                android:layout_width="match_parent"
                android:layout_height="match_parent"
                android:id="@+id/lblname3"
                android:layout_marginLeft="10dp"   
                android:layout_marginBottom="1dp"
                android:textSize="20dp"
                android:gravity="center_horizontal"
                android:layout_weight="1"
                android:backgroundTint="@android:color/white"  
                android:background="@android:color/white"
                android:textColor="@android:color/black"/>
            <EditText
	            android:id="@+id/edittext3"
	            android:layout_width="220dp"
	            android:layout_height="match_parent"             
	            android:layout_marginRight="10dp"
                android:layout_marginBottom="1dp"
	            android:inputType="text"
                android:hint="@string/namehint"
                android:backgroundTint="@android:color/white"  
	            android:textColor="@android:color/black"      
                android:background="@android:color/white"
	            android:textSize="18sp"/>            
          </LinearLayout>
          <LinearLayout
              android:layout_width="match_parent"
              android:layout_height="match_parent"
              android:orientation="horizontal">  
             <TextView
                android:text="@string/url3"
                android:layout_width="match_parent"
                android:layout_height="match_parent"
                android:id="@+id/lblurl3"
                android:layout_marginLeft="10dp"    
                android:textSize="20dp"
                android:gravity="center_horizontal"        
                android:layout_weight="1"
                android:backgroundTint="@android:color/white"  
                android:background="@android:color/white"
                android:textColor="@android:color/black"/>
            <EditText
                android:id="@+id/urltext3"
                android:layout_width="220dp"
                android:layout_height="match_parent"
                android:layout_marginRight="10dp"
                android:inputType="textUri"
                android:hint="@string/urlhint"
                android:backgroundTint="@android:color/white"
                android:textColor="@android:color/black"
                android:background="@android:color/white"
                android:textSize="18sp"/>               
          </LinearLayout>
    </LinearLayout>  
     
</RelativeLayout>